@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--kanit), sans-serif
}

@font-face {
  font-family: 'Draper';
  src: url('/font/Draper.otf') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
h2{
  color: rgb(246, 246, 246);
}
p,span{
  color: rgb(209, 209, 209);
}
img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.text-stroke-05 {
  -webkit-text-stroke-width: 0.5px;
}
.text-stroke-1 {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-2 {
  -webkit-text-stroke-width: 2px;
}

.text-stroke-black {
  -webkit-text-stroke-color: black;
}

.text-stroke-white {
  -webkit-text-stroke-color: white;
}
#header {
  transition: all 0.3s ease;
}